
/* Row Coloring */

#highlight_port_state tr.range-elevated td {
    background-color: #ffc57a !important;
}
#highlight_port_state tr.range-severe td {
    background-color: #f99797 !important;
}
#highlight_port_state .table td {
    border-top: 1px solid #fff;
}
#highlight_port_state td.range-severe, td.range-elevated {
    font-weight: bold;
}

#highlight_connection_state tr.range-elevated td {
    background-color: #ffc57a !important;
}
#highlight_connection_state tr.range-severe td {
    background-color: #f99797 !important;
}
#highlight_connection_state .table td {
    border-top: 1px solid #fff;
}
#highlight_connection_state td.range-severe, td.range-elevated {
    font-weight: bold;
}

#highlight_system_state tr.range-elevated td {
    background-color: #ffc57a !important;
}
#highlight_system_state tr.range-severe td {
    background-color: #f99797 !important;
}
#highlight_system_state .table td {
    border-top: 1px solid #fff;
}
#highlight_system_state td.range-severe, td.range-elevated {
    font-weight: bold;
}


.performance_drilldown  {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#initiator_group{
 text-align: justify;
 margin-right:20px;
 padding-right:20px;
 font-size: 12px;

 }
 #target_port{
 text-align: center;
  padding-right :20px;
   margin-right:20px;
   font-size: 12px;
  
  }
#initiator_port{
 text-align: center;
  padding-right : 15px;
  margin-right:15px;
  font-size: 12px;
  

}



.detail_view_label {
  font-size : 13px;
  font-weight : bold;
}

.detail_view_value {
  font-size : 13px;
}

.detail_view_title {
   font-size: 20px;
   margin: 0;
   margin-bottom: 15px;
   padding: 5px 55px 5px 10px;
   font-weight: 200;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   color: #FFFFFF;
   border-radius: 5px;
   background-color: #29688A;
}

/* Single value font size */

.single-value .single-result {
    font-size: 20px   !important;
    font-weight: bold;
    word-wrap: break-word;
}
